<mat-card>
        
    <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
       <div>
        <mat-form-field>
                
                <input matInput placeholder="Author" [(ngModel)] = "title" name = "author"  >
            
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
                <input matInput placeholder="Body" [(ngModel)] = "body" name = "body" >            
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)] = "author" name = "name" >
        </mat-form-field>
    </div>
        <div >
            <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">{{buttonText}}</button>
            <button  routerLink="/posts"  routerLinkActive="active" mat-raised-button color="primary" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
