  <div ng-controller="myCtrl">
    <button  routerLink="/addposts"  routerLinkActive="active" mat-raised-button color="primary" >Add post</button>
    <!-- <button  mat-raised-button color="primary" (click)="myFunc()">Save to firestore</button>   -->
  <!-- <p>{{ans}}</p> -->
<!-- </div> -->
<mat-accordion>
  <mat-expansion-panel *ngFor = "let post of post$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title >
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header > 
      by {{post.body}} 
      <mat-panel-title>
        Post's Author: {{post.author}}
    </mat-panel-title> 
       <button  mat-raised-button color="primary" (click)=deletePost(post.id)>Delete post</button>  
       <button 
       mat-raised-button color="primary"
       [routerLink]="'/addposts/'+post.id">
       Edit
     </button>
      <!-- <button   mat-raised-button color="primary" [routerLink]="'/addposts/'+post.id">Edit</button> -->
    <!-- <div *ngFor="let user of user$">
      <div *ngIf = "user.id == post.userId;other">Author: {{user.name}}</div>
      </div>-->
    </mat-expansion-panel>
  </mat-accordion>
